<div class="bg-white">
	<div class="grid grid-cols-1 md:grid-cols-6 grid-rows-none md:grid-rows-2">
		<div class="row-span-1 md:row-span-2 col-span-1 md:col-span-4 text-justify m-8">
			<div class="w-full bg-white rounded-2xl">
				<button onclick="mostrar1()" class="flex w-full px-4 py-2 justify-between text-sm text-left rounded-lg hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500 focus-visible:ring-opacity-75" id="boton" type="button" aria-expanded="false" aria-controls="headlessui-disclosure-panel-2">
					<div>
						<div class="flex">
							<div>
								<img src="../../../../assets/images/imagen 1 corriente.png" class="h-12 md:h-20 ">
							</div>
							<div>
								<p class="font-semibold ml-2 text-lg md:text-2xl lg:text-3xl">1. Corrientes Literarias</p>
								<p class="font-light ml-2 text-center text-x1 md:text-2xl">América Latina, Europea</p>
							</div>
						</div>
						<div>
							<div class="mt-4 w-full">
								<ng-simple-progress-bar [percent]="10" [color]="'#FFC300'" [backgroundColor]="'#FFFFFF'" [isStatic]="true" >
				     			</ng-simple-progress-bar>
				     		</div>
			     		</div>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="transform rotate-180 w-5 h-5 text-purple-500"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
				</button>
			<div class="px-4 pt-4 pb-2 text-sm hidden" onclick="ocultar()" id="literatu">
				<div class="mt-4">
					<div class="flex">
						<div class="text-center font-semibold ordinal">
							<a href=""><p class="rounded-full  mt-8 h-6 w-6 py-1 text-white overflow-visible text-xs  bg-blue-400">1.1</p></a><svg viewBox="-5 25 12 12" class="w-3 h-6 mr-4 overflow-visible text-mercury-600 "><path d="M 6 18 V 139" fill="none" stroke-width="2" stroke="currentColor" class="text-mercury-600"></path></svg>
						</div>
						<div class="ml-4">
							<img src="../../../../assets/images/imagen 1.1 corriente.png" class="h-12 md:h-20">
						</div>
						<div><a routerLink="/page/curso/concepto">
							<p class="font-semibold ml-2 text-lg md:text-xl lg:text-3xl">1.1 Corriente Literaria Latina</p>
							<p class="font-light ml-2 text-center text-x1 md:text-2xl">Literatura destacada</p></a>
						</div>
					</div>
					<div class="ml-8">
						<div class="mt-4">
							<ng-simple-progress-bar [percent]="10" [color]="'#12CFDC'"  [backgroundColor]="'#FFFFFF'" [isStatic]="true" >
			     			</ng-simple-progress-bar>
			     		</div>
		     		</div>
				</div>
				<div class="mt-8">
					<div class="flex">
						<div class="text-center font-semibold">
							<a href=""><p class="rounded-full text-white mt-6 h-6 w-6 py-1 overflow-visible text-xs bg-mercury-600">1.2</p></a><svg viewBox="-5 25 12 12" class="w-3 h-6 mr-4 overflow-visible text-primary-600 "><path d="M 6 18 V " fill="none" stroke-width="2" stroke="currentColor" class="text-primary-600"></path></svg>
						</div>
						<div  class="ml-4">
							<img src="../../../../assets/images/imagen 1.2 corriente.png" class="h-12 md:h-20">
						</div>
						<div>
							<a href="">
								<p class="font-semibold ml-2 text-lg md:text-xl lg:text-3xl">1.2 Corriente Literaria Europea</p>
								<p class="font-light ml-2 text-center text-x1 md:text-2xl">Literatura destacada</p>
							</a>
						</div>
					</div>
					<div class="ml-8">
						<div class="mt-4 ">
							<ng-simple-progress-bar [percent]="10" [color]="'#12CFDC'" [backgroundColor]="'#FFFFFF'" [isStatic]="false" >
			     			</ng-simple-progress-bar>
			     		</div>
		     		</div>
				</div>

				<div class="mt-6 bg-mercury-500 h-32 rounded-lg">
					<div class="flex ml-4">
						<div class="mt-4">
							<img src="../../../../assets/images/bloc examen.png" class="xl:h-20 lg:h-20 md:h-20 h-12">
						</div>
						<div class="mt-4 ml-2 md:ml-8">
							<a href="">
								<p class="font-semibold ml-2 text-xs md:text-lg lg:text-3xl">Examen modulo 1</p>
								<p class="font-light ml-2 text-center text-xs lg:text-2xl">Corrientes Literarias</p>
							</a>
						</div>
						<div class="ml-40 font-light">
							<p>Faltan completar actividades</p>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-2">
				<button class="flex justify-between w-full px-4 py-2  rounded-lg hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500 focus-visible:ring-opacity-75" id="headlessui-disclosure-button-3" type="button" aria-expanded="true" aria-controls="headlessui-disclosure-panel-4">
					<div class="mt-4">
						<div class="flex">
							<div>
								<img src="../../../../assets/images/imagen 1 corriente.png" class="h-12 md:h-20">
							</div>
							<div>
								<p class="font-semibold ml-2 text-lg md:text-2xl lg:text-3xl">2. Casos de sinominia</p>
								<p class="font-light ml-2 text-center text-x1 md:text-2xl">Lengua española de Latina</p>
							</div>
						</div>
						<div class="mt-4">
							<div>
								<ng-simple-progress-bar [percent]="10" [color]="'#FFC300'" [backgroundColor]="'#FFFFFF'" [isStatic]="true" >
				     			</ng-simple-progress-bar>
			     			</div>
			     			<div>
			     				<img src="" alt="">
			     			</div>
			     		</div>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="transform rotate-180 w-5 h-5 text-purple-500"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
				</button>
				<div class="px-4 pt-4 pb-2 text-sm hidden " id="headlessui-disclosure-panel-4">No.</div>
			</div>
			<div class="mt-2">
				<button class="flex justify-between w-full px-4 py-2  rounded-lg hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500 focus-visible:ring-opacity-75" id="headlessui-disclosure-button-3" type="button" aria-expanded="true" aria-controls="headlessui-disclosure-panel-4">
					<div class="mt-4">
						<div class="flex">
							<div>
								<img src="../../../../assets/images/imagen 1 corriente.png" class="h-12 md:h-20">
							</div>
							<div>
								<p class="font-semibold ml-2 text-lg md:text-2xl lg:text-3xl">1. Corrientes Literarias</p>
								<p class="font-light ml-2 text-center text-x1 md:text-2xl">América Latina, Europea</p>
							</div>
						</div>
						<div class="mt-4 ">
							<ng-simple-progress-bar [percent]="10" [color]="'#FFC300'" [backgroundColor]="'#FFFFFF'" [isStatic]="true" >
			     			</ng-simple-progress-bar>
			     		</div>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="transform rotate-180 w-5 h-5 text-purple-500"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
				</button>
				<div class="px-4 pt-4 pb-2 text-sm hidden" id="headlessui-disclosure-panel-4">No.</div>
			</div>
		</div>
		</div>
		<div class="col-span-1 md:col-span-2 col-start-1 md:col-start-5 bg-mercury-500">
			<div class="row-start-1 md:row-start-4 m-8 md:m-4 lg:m-8 xl:m-16">
				<div class="mx-auto">
				    <div class="flex h-40 w-full rounded-t-2xl bg-primary-800 align-baseline mx-auto">
				      <p class="font-bold text-white mt-2 ml-4 md:ml-2 xl:ml-4">TOP</p>
				      <div class="self-end w-6 -ml-0 md:-ml-8 lg:-ml-0"><p class="h-8 bg-black"></p></div>
				      <div class="ml-2 self-end w-6 "><p class="h-12 bg-blue-500 text-blue-500"></p></div>
				      <div class="ml-2 self-end w-6 "><p class="h-14 bg-blue-500 text-blue-500"></p></div>
				      <div class="ml-2 self-end w-6 "><p class="h-32 bg-blue-500 text-blue-500"></p></div>
				      <div class="ml-2 self-end w-6"><p class="h-4 bg-blue-500 text-blue-500"></p></div>
				      <div class="ml-2 self-end w-6"><p class="h-8 bg-blue-500 text-blue-500"></p></div>
				      <div class="ml-2 self-end w-6 "><p class="h-16 bg-blue-500 text-blue-500"></p></div>
				    </div>
				    <div class="bg-white rounded-b-2xl">
				    	<div class="rouded-lg w-24 text-white rounded-b-lg font-bold bg-yellow-500 self-center mx-auto"><p class="ml-4">LOGROS</p>
				    	</div>
				    	<div class="flex mt-4 text-center mx-auto">
				    		<div class="mx-auto">
				    			<img src="../../../../assets/images/bronce.png" class="h-16 ">
				    			<p class="h-12 mt-2 ">0</p>
				    		</div>
				    		<div class="-ml-4 md:-ml-2 lg:-ml-4 mr-2 md:mr-0 lg:mr-2">
				    			<img src="../../../../assets/images/plata.png" class="h-16">
				    			<p class="h-12 mt-2">2</p>
				    		</div>
				    		<div class="ml-2 lg:ml-2 mr-14 md:mr-0 lg:mr-14">
				    			<img src="../../../../assets/images/oro.png" class="h-16">
				    			<p class="h-12 mt-2">1</p>
				    		</div>
				    	</div>
				    </div>
				</div>
			</div>
		</div>
		<div class="col-span-1 md:col-span-2 bg-mercury-500">
			<div class="row-start-5 md:row-start-2 m-10 text-justify" >
				<p class="text-mercury-800 self-end">"Mira que te mando que te esfuezes y seas valiente, no temas ni desmayes porque Jehová tu Dios esta contigo donde quiera que vayas"</p>
				<p class="text-xl font-semibold text-right self-end">Josue 1:9</p>
			</div>
		</div>
	</div>
</div>
