<div class="ml-12">
	<div class="grid grid-cols-1 md:grid-cols-6 grid-rows-none md:grid-rows-2 bg-white font-light">
		<div class="row-span-1 md:row-span-2 col-span-1 md:col-span-4 ml-8 m-6 text-justify  ">
			<ul class="list-disc m-4 my-0 md:mx-8 lg:mx-16 text-xl md:text-2xl">
			  <li>El periodo latino pertenece desde el punto de vista lingüístico al mismo grupo ario o indoeuropeo de los griegos. Una rama de este grupo común, los italiotas, se derramaron.</li>
			  <audio class="w-full mt-4 rounded-full" src="" controls></audio>
			  <li class="mt-6">Desde el punto de vista lingüístico los italiotas son primos hermanos de los griegos, los germanos, los iberos, los celtas, los esclavos, etc.</li>
			  <li  class="mt-6">Pero parece que hubo una confluencia racial con un aporte a través de los etruscos que vendrian de Asia Menisr: Tito Livio ya da rastros de un grupo de Asia Menor.</li>
			</ul>
		</div>
		<div class="bg-secondary-50 row-span-1 md:row-span-2 col-start-1 md:col-start-5 col-span-1 md:col-span-2  ">
			<div class="row-start-2 md:row-start-2 text-justify italic mt-8 md:mt-16 lg:mt-20 ml-12 lg:ml-14 xl:ml-24 mr-12 lg:mr-14 xl:mr-24 md:m-8 ">
				<p class="break-words">El libro Don Quijote de la mancha es el libro más vendido después de la biblia y existen muchas peliculas inspiradas en ella como esta</p>
			</div>
			<div class="my-4">
				<img class="h-40 mx-auto" src="../../../assets/images/personajes anuncios.png">
			</div>
		</div>
	</div>
</div>
