<div class="bg-mercury-600 mt-12">
	<div class="grid grid-cols-1 md:grid-cols-6 grid-rows-none md:grid-rows-4">
		<div class="mt-2 row-span-1 md:row-span-3 md:col-start-1">
			<img src="../../../../assets/images/razonamiento verval.png" class="h-24 w-24 mx-auto transform md:translate-y-24 lg:translate-y-12 lg:translate-y-20  md:translate-x-2 lg:translate-x-8">
		</div>
		<div class="text-center md:text-left text-2xl md:text-4xl self-end mt-2 col-start-1 col-span-1 md:col-span-3 md:col-start-2 row-start-2 ">
			<p class="">Razonamiento Verbal</p>
		</div>
		<div class="col-start-1 col-span-1 md:col-span-2 md:col-start-2 row-start-3 md:row-start-3">
			<p class="text-center md:text-left font-light text-2xl md:text-xl lg:text-2xl xl:text-3xl ml-6 md:ml-0">Enfoque Pre Universitario</p>
		</div>
		<div class="text-center text-lg col-start-1 col-span-1 md:col-span-4 md:col-start-1 row-start-4 flex-wrap md:flex">
			<div class="w-full md:w-56 md:mx-auto flex-wrap md:flex self-center">
				<img src="../../../../assets/images/mg. duglas.png" class="h-10 w-10 mx-auto ">
				<p class="font-mono self-center">Mg Duglas sarmiento</p>
			</div>
			<div class="w-full md:w-56 md:mx-auto flex-wrap md:flex self-center">
				<img src="../../../../assets/images/mg. olga.png" class="h-10 w-10 mx-auto">
				<p class="font-mon self-center">Mg. Olga Ramirez</p>
			</div>
			<div class="w-full md:w-56 md:mx-auto flex-wrap md:flex self-center">
				<img src="../../../../assets/images/doctor inostrosa.png" class="h-10 w-10 mx-auto">
				<p class="font-mono self-center">Dr. Inostrosa Duarte</p>
			</div>
		</div>
		<div class="mt-2 col-start-1 col-span-1 md:col-span-2 md:col-start-5 row-span-1 md:row-span-4">
			<img class="h-full w-full" src="../../../../assets/images/comunicacion.png" />
		</div>
	</div>
</div>

