<div class="bg-primary-default ml-12">
	<div class="grid grid-cols-1 md:grid-cols-6 grid-rows-1 md:grid-rows-2">
		<div class="row-span-1 md:row-span-2 col-span-1 md:col-span-4 ">
			<video class="my-6 mx-auto h-40 md:h-52 lg:h-80 xl:h-96 rounded-3xl" controls id="fm-video">
				<source src="" type="video/MP4">
			</video>
		</div>
		<div class="bg-secondary-50 row-span-1 md:row-span-2 col-start-1 md:col-start-5 col-span-1 md:col-span-2  ">
			<div class="row-start-2 md:row-start-2 text-justify italic mt-8 md:mt-4 lg:mt-20 ml-12 lg:ml-14 xl:ml-24 mr-12 lg:mr-14 xl:mr-24 md:m-6 ">
				<p class="break-words">El libro Don Quijote de la mancha es el libro más vendido después de la biblia y existen muchas peliculas inspiradas en ella como esta</p>
			</div>
			<div class="my-4">
				<img class="h-40 mx-auto" src="../../../assets/images/personajes anuncios.png">
			</div>
		</div>
	</div>
</div>
