<div class="bg-mercury-600 ml-12 mt-12">
	<div class="grid grid-cols-1 md:grid-cols-6 grid-rows-none md:grid-rows-4">
		<div class="mt-2 row-span-1 md:row-span-4 md:col-start-1">
			<img src="../../../../assets/images/imagen 1.1 corriente.png" class="h-24 w-24 mx-auto transform md:translate-y-16 md:translate-x-2 lg:translate-x-8">
		</div>
		<div class="text-2xl md:text-xl lg:text-2xl xl:text-3xl text-center self-end md:text-left mt-2 col-start-1 col-span-1 md:col-span-2 md:col-start-2 row-start-2 ">
			<p class="">1.1. Corriente Literaria Latina</p>
		</div>
		<div class="col-start-1 col-span-1 md:col-span-2 md:col-start-2 row-start-3 md:row-start-3">
			<p class="text-center font-light text-2xl md:text-xl lg:text-2xl xl:text-3xl ml-6 md:ml-0">Literatura destacada</p>
		</div>
		<div class="text-center text-lg col-start-1 col-span-1 md:col-span-3 md:col-start-2 row-start-4 flex flex-wrap  md:flex">
			<div class="w-full md:w-28 hover:bg-primary-default hover:text-primary-default hover:bg-opacity-25 hover:outline-none transition-colors flex">
				<div class="self-center text-center mx-auto">
					<a routerLink="/page/curso/concepto">Conceptos</a>
				</div>
			</div>
			<div class="w-full md:w-28 hover:bg-primary-default hover:text-primary-default hover:bg-opacity-25 hover:outline-none transition-colors flex">
				<div class="self-center mx-auto">
					<a routerLink="/page/curso/notas">Apuntes</a>
				</div>
			</div>
			<div class="w-full md:w-28 hover:bg-primary-default hover:text-primary-default hover:bg-opacity-25 hover:outline-none transition-colors flex">
				<div class="self-center mx-auto">
					<a routerLink="/page/curso/razonamientoverbal">Prácticas</a>
				</div>
			</div>
			<div class="w-full md:w-28 hover:bg-primary-default hover:text-primary-default hover:bg-opacity-25 hover:outline-none transition-colors flex">
				<div class="self-center mx-auto" >
					<a href="">Tarea</a>
				</div>
			</div>
		</div>
		<div  class="col-start-1 md:col-start-4 row-start-5 rows-span-1 md:row-span-3 md:row-start-2 mx-auto">
			<div style="background-image: url('../../../assets/images/corona gris.png');" class="bg-no-repeat bg-bottom mx-auto md:ml-0">
				<circle-progress  [percent]="70" [radius]="43" [outerStrokeWidth]="8" [subtitle]="'0'" [subtitleFontSize]="'25'" [innerStrokeWidth]="8" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000">
           		</circle-progress>
       		</div>
		</div>
		<div class="mt-2 col-start-1 col-span-1 md:col-span-2 md:col-start-5 row-span-1 md:row-span-4">
			<img class="h-full w-full" src="../../../../assets/images/quijote01.png" />
		</div>
	</div>
</div>
